.video-container video {
  width: 100%;
}

.video-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

.alt-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  height: 250px;
}

@media only screen and (max-width: 700px) {
  .video-container {
    padding-right: 0;
  }
}