.ScreenshotGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  box-shadow: 0 0 10px gray;
}

.ScreenshotGallery img {
  width: 300px;
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  .ScreenshotGallery img {
    width: 50%;
    min-width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .ScreenshotGallery img {
    width: 100%;
  }
}